<div id="booking">
    <h1 id="bookingServiceName"></h1>

    <div id="apptDateAndTime">
        <h2>Select a Date and Time</h2>
        <div id="apptDate">
            <div class="calendar-container">
                <div class="calendar-header">
                    <i id="prevMonth" class="fa-solid fa-angle-left"></i>
                    <h1 id="monthYear"></h1>
                    <i id="nextMonth" class="fa-solid fa-angle-right"></i>
                </div>
                <table class="calendar">
                    <thead>
                        <tr>
                            <th>Sun</th>
                            <th>Mon</th>
                            <th>Tue</th>
                            <th>Wed</th>
                            <th>Thu</th>
                            <th>Fri</th>
                            <th>Sat</th>
                        </tr>
                    </thead>
                    <tbody id="calendarBody"></tbody>
                </table>
            </div>
        </div>

        <div id="apptTime"></div>
    </div>


    <div id="apptSummary">
        <h2>Summary</h2>
        <div class="appt-summary-container"></div>
        <button class="continue-button" disabled>Continue</button>
    </div>

</div>

