<div id="contact-us">
    <h1 id="contact-header">Contact</h1>
    <form id="contact-form" onsubmit="handleContactFormSubmit(event)">
        <input class="contact-form-input" type="text" id="contact-name" name="Name" placeholder="Name">
        <input class="contact-form-input" type="email" id="contact-email" name="Email" placeholder="Email">
        <textarea class="contact-form-input message" id="contact-message" name="Message"
            placeholder="Message"></textarea>

        <div id="error-messages-container"></div>

        <input id="contact-form-submit" type="submit" value="Submit">
    </form>
</div>

